.app {
    background-color: blue;
    min-height: 100vh;

    /* background: #f0f9ff;
    background: -moz-linear-gradient(-45deg, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
    background: -webkit-linear-gradient(-45deg, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%);
    background: linear-gradient(135deg, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=1 ); */


    background: #fff;
    background-image: url('./img/skulls-1.jpg?v=0.1');
    background-image: url('./img/stardust.png?v=0.1');
    background-repeat: repeat;
    background-position: center center;
}

.hero {
    box-shadow: 0px 20px 60px -10px rgba(0, 0, 0, 0.65);
}

/* Card Styles */
.card {
    -webkit-box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.1), 0 2px 3px rgba(10, 10, 10, 0.1);
    box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.1), 0 2px 3px rgba(10, 10, 10, 0.1);

    /* -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px #00d1b2; */
    /* box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px #00d1b2; */

    border-radius: 3px 3px 0px 0px;
}

.card.style-imgur {
    -webkit-box-shadow: 0 0 0 2px #151515, 0 3px 6px rgba(10, 10, 10, 0.6);
    box-shadow: 0 0 0 2px #151515, 0 3px 6px rgba(10, 10, 10, 0.6);
}

.card.style-imgur .card-header-title {
    background-color: #151515;
    color: #fff;
}

.card.style-youtube {
    -webkit-box-shadow: 0 0 0 1px #fc0d1c, 0 3px 6px rgba(10, 10, 10, 0.6);
    box-shadow: 0 0 0 1px #fc0d1c, 0 3px 6px rgba(10, 10, 10, 0.6);
}

.card.style-youtube .card-header-title {
    background-color: #fc0d1c;
    color: #fff;
}

/* Enforcing similar sized cards */
.image.image-alt {
    overflow: hidden;
}

/* CSS crop image ^^ */
.image.image-alt.is-square img {
    top: 50%;
    left: 0;
    right: 0;
    bottom: initial;

    transform: translateY(-50%);

    width: 100%;
    height: auto;
}

/* For any videos that will be displayed */
.card-video {
    position: relative;
    padding-top: 56.25%;
    padding-top: 66.67%;
    padding-top: 100%;
}

/* For YouTube embeds */
.card-video iframe {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

/* Change modal close to be circular close button */
.modal-close {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 100%;
}

/* Pull modal to fill most of the screen on mobile devices */
@media all and (max-width: 640px) {
    .modal-content {
        margin: 0 10px;
        max-height: calc(100vh - 20px);
    }
}

.pulse { animation: pulse ease 1s infinite; }
@keyframes pulse {
    0% { transform: scale(1); }
    25% { transform: scale(1); }

    50% { transform: scale(1.4); }
    60% { transform: scale(0.6); }

    75% { transform: scale(1); }
    100% { transform: scale(1); }
}
